Entregable3/Test/Test/Connected Services/CustomerService/CustomerService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CustomerDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="cliente_id" type="xs:int" />
      <xs:element minOccurs="0" name="direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="direccion_id" type="xs:int" />
      <xs:element minOccurs="0" name="estado" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="numero_identificacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="primer_apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="primer_nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="segundo_apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="segundo_nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipo_identificacion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerDTO" nillable="true" type="tns:CustomerDTO" />
</xs:schema>